body {
    font-size: 1.4rem!important;
}

.container {
    margin: 0 auto;
}

.relateInfo {
    margin: 20px 0;
}
.ant-col{
    margin-bottom: .3rem;
}
/*相关视频*/
.ant-alert-success{
    margin: 1rem 0!important;
}

.card {
    position: relative;
    width: 100%;
    height: 92%;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.card:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
/*相关视频*/
.site-card-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 .9rem;
}
/*视频话题标签*/
.relateTopic button:not(:first-child){
    margin-left: 2rem;
}
/*相关视频标签*/
/*描述*/
.cardDesc {
    margin: 2px 1px;
    padding-left: .2rem;
    verflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}

/*封面*/
.cardCover {
    width: 100%;
    height: 100%;
}

.cardCover img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cardInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, .4);
    padding: 0.4rem;
}

.cardFooter {
    display: flex;
    padding: 4px 0;
    justify-content: space-between;
    align-items: center;
}

.cardFooter span {
    margin: 0 1px;
    font-size: 1.2rem;
}